body {
  margin: 0;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.filter > div {
  flex: 1;
}

.cart-header {
  border-bottom: 0.1rem #e43232 solid;
  margin-top: 20px;
}

.cart-empty {
  font-size: 2rem;
  color: #f33e3e;
}

form {
  margin-top: 20px;
  padding: 20px;
}

input {
  display: block;
  margin-bottom: 10px;
  margin-top: 2px;
  padding: 0.4rem;
  width: 94%;
}

.submit-input {
  background-color: #ed6c02;
  padding: 10px 16px;
  border-radius: 4px;
  color: #fff;
  border: none;
  width: 100%;
  text-transform: uppercase;
}
